{% extends 'base.html.twig' %}

{% block title %}
    Page Blog - {{controller_name}}
{% endblock %}

{% block body %}

    <section class="article">

        {% for article in articles %}
        <article>
            <h2>{{ article.getTitle }}</h2>
            <div class="metadata">Ecrit le {{ article.getCreatedAt | date('d/m/Y') }} à {{ article.getCreatedAt | date('H:i') }} dans la catégorie jeux</div>
            <div class="content">
                <img src="{{ article.getImage }}" alt="">
                {{ article.getContent | raw }}
                <a href="{{ path('blog_show', {'id': article.getId }) }}" class="btn btn-primary">Lire la suite</a>
                <hr>
            </div>
        </article>
      {% endfor %}

    </section>

{% endblock %}
