{% extends 'base.html.twig' %}

{% block title %}
  Articles
  {{controller_name}}
{% endblock %}

{% block body %}

  <div class="container p-5">
    <div class="row">

      {% for article in articles %}

        <div class="col-sm-4">
          <div class="mx-1 my-3">
            <article class="card border-secondary p-3">
              <a  class="card-text" href="{{ path('blog_show', {'id': article.getId }) }}"><h3>{{ article.getTitle }}</h3><a>
              <hr>

              <div class="metadata">Ecrit le
                {{ article.getCreatedAt | date('d/m/Y') }}
                à
                {{ article.getCreatedAt | date('H:i') }}
                dans la catégorie
                {{ article.getCategory.getTitle }}
              </div>

              <br>

              <div class="content text-justify">
                <img class="card-img-top" src="{{ article.getImage }}" alt="">
                <hr>
                <p class="lead ">{{ article.getContent | slice(0, 100) | raw  }} ... </p>
                <hr>
                <a class="button" href="{{ path('blog_show', {'id': article.getId }) }}"><span>Lire la suite</span></a>
              </div>

            </article>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>

{% endblock %}
