{% extends 'base.html.twig' %}

{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Page Show
{% endblock %}

{% block body %}
    <article class="">
        <h2>{{ article.getTitle }}</h2> <!-- On peut aussi juste écrie article.title et Symfony ira chercher le getTitle -->
        <div class="metadata">Ecrit le {{ article.getCreatedAt | date('d/m/Y à H:i') }} dans la catégorie {{ article.getCategory.getTitle }}</div>
        <div class="content">
        <img src="{{ article.getImage }}" alt="">
            {{ article.getContent | raw }}
            <hr>
        </div>

        <a href="{{ path('blog_edit', {'id': article.getId }) }}" class="btn btn-primary">Modifier l'article</a>

    </article>

    <section id="comments">
        {% for comment in article.comments %}
            <h4>{{ comment.getAuthor }}</h4>
            <div class="metadata">Ecrit le {{ comment.getCreatedAt | date('d/m/Y à H:i') }}.</div>
            <div class="content">
              <p>{{ comment.getContent | raw }}</p>
              <hr>
            </div>
        {% endfor %}
    </section>

    <section id="newComment">
      <h4>Laisser votre commentaire sur cette article :</h4>
      <hr>
      {{ form_start(formComment) }}

      {{ form_row(formComment.author, {'attr': {'placeholder': "Nom de l'auteur"}} ) }}
      {{ form_row(formComment.content, {'attr': {'placeholder': "Contenu du commentaire"}} ) }}
      <button type="submit" class="btn btn-success">Ajouter le commentaire</button>

      {{ form_end(formComment)}}
    </section>

{% endblock %}
