{% extends 'base.html.twig' %}

{% block title %}
    Page Show
{% endblock %}

{% block body %}
        <article class="">
            <h2>{{ article.getTitle }}</h2>
            <div class="metadata">Ecrit le {{ article.getCreatedAt | date('d/m/Y') }} à {{ article.getCreatedAt | date('H:i') }} dans la catégorie jeux</div>
            <div class="content">
            <img src="{{ article.getImage }}" alt="">
                {{ article.getContent | raw }}
                <hr>
            </div>

            <a href="{{ path('blog_edit', {'id': article.getId }) }}" class="btn btn-primary">Modifier l'article</a>

        </article>
{% endblock %}
