<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

    {% block stylesheets %}
      <link rel="stylesheet" href="/css/style.css">
    {% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-dark bg-secondary nav-justified">
      <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
            <a class="nav-item nav-link active text-white" href="{{ path('blog') -}}">Voir les articles</a>
            <a class="nav-item nav-link active text-white" href="{{ path('blog_create') }}">Créer un article</a>
          {% if not app.user %}
              <a class="nav-item nav-link active text-white" href="{{ path('security_login') }}">Se connecter</a>
              <a class="nav-item nav-link active text-white" href="{{ path('security_registration') }}">S'enregistrer</a>
          {% else %}
              <a class="nav-item nav-link active text-white" href="{{ path('security_logout') }}">Se déconnecter</a>
          {% endif %}
    </nav>



    <div class="container p-5">
      {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
  </body>
</html>
