<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Accueil{% endblock %}
    </title>

    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

    {% block stylesheets %}
      <link rel="stylesheet" href="/css/style.css">
    {% endblock %}

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <li><a id="len1" class="hoverable" href="{{ path('blog')}}">Accueil</a>
      </li>
      <li class="nav-item">
        <a id="len2" class="hoverable" href="{{ path('blog_create') }}">Créer un article</a>
      </li>
      <div>
        <img src="../images/logo.png" alt="logo">
      </div>
      {% if not app.user %}
        <li class="nav-item">
          <a id="len3" class="hoverable" href="{{ path('security_login') }}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a id="len4" class="hoverable" href="{{ path('security_registration') }}">S'enregistrer</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a id="len5" class="hoverable" href="{{ path('security_logout') }}">Se déconnecter</a>
        </li>
      {% endif %}
    </div>
  </nav>

</head>
<body>

  <div class="container p-5">
    {% block body %}{% endblock %}
  </div>

  {% block javascripts %}{% endblock %}

</body>
</html>
